# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\stock_market_tech\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
